/*Form*/
body {
    text-align: center;
}
form {
    display: inline-block;
}
label {
    display: block;
}
textarea {
    display: inline-block;
    resize: vertical;
    width: 100%;
    min-height: 20%;

    color: #369;
}
button {
    display: block;
    margin: 0 auto;
    width: 100%;

    font-size: 2em;
    color: darkgreen;
    background-color: white;
    border: 0.1em solid darkgreen;
    border-radius: 0em 0em 1em 1em;
}
button:hover {
    color: white;
    background-color: darkgreen;
}
legend {
    color: darkgreen;
}
footer {
    font-style: italic;
}
a {
    color: green;
}
a:hover {
    color: chartreuse;
}