table, th, td {
    border: 1px solid black;
}
table, th, td {
    border-collapse: collapse;
}
table {
    width: 100%;
}
.fa-exclamation-triangle {
    color: red;
}
.fa-thumbs-up {
    color: green;
}
.signature, .method {
    font-family: "Fira Mono", monospace;
    text-align: center;
    /*font-size: 1em;*/
    background-color: #eaeaea;
}
.param td:nth-child(1) {
    text-align: center;
    color: #369;
    font-family: "Fira Mono", monospace;
}
.errors, .return, .param, .description {
    font-size: 0.7em;
    font-family: Arial, arial, sans-serif;
}
.errors code, .return code, .param code, .description code, .signature code {
    font-size: 1.5em;
}
[class*="example"] {
    display: none;
}
p {
    margin: 0;
    display: inline;
}
dd {
    margin: 0;
}
.signature td:nth-child(1), .method td:nth-child(1) {
    width: 10%;
    color: red;
}
.type {
    color: #693;
}
.methodname, .parameter {
    color: #369;
}
.initializer {
    color: #936;
}