<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHPHelper - Copyright © Ivan Ravasi 2018</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename="favicon.ico") }}">
</head>
<body>
    {{ content|safe }}
</body>
</html>