{% if synopsis is defined %}
    <table>
        <thead>
            <tr class="signature">
                <td>{{ title }}</td><td>{{ synopsis[0]|safe }}</td>
            </tr>
        </thead>
        <tbody>
            <tr class="description">
                <td colspan="2"><i class="fas fa-book"></i> {{ desc|safe }}</td>
            </tr>
            <tr class="return">
                <td colspan="2"><i class="fas fa-thumbs-up"></i> {{ returnval[0]|safe }}</td>
            </tr>
            {% if errors[0] is defined %}
            <tr class="errors">
                <td colspan="2"><i class="fas fa-exclamation-triangle"></i> {{ errors[0]|safe }}</td>
            </tr>
            {% endif %}
            {% for param in params.keys() %}
                <tr class="param">
                    <td>{{ param|safe }}</td><td>{{ params[param]|safe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <table>
        <thead>
            <tr class="method">
                <td>{{ title }}</td>
            </tr>
        </thead>
        <tbody>
            <tr class="description">
                <td>{{ desc|safe }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}